<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline Service</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <script th:replace="fragments/script :: script" />
    <style th:replace="fragments/style :: style" />
</head>
<body>
    <div class="background-header">

    </div>
    <div class="background-body">

    </div>
    <div class="wrap">
        <div class="header">
            <h2 onclick="getMainPosts()"><b>Hong's</b> 항해 게시판</h2>
            <a th:href="@{/}">
                게시판으로 돌아가기
            </a>
        </div>
        <div class="area-write">
            <textarea class="name" placeholder="이름을 입력하세요." name="contents" th:id="username" cols="30"
                      rows="10"></textarea>
            <textarea class="password" placeholder="비밀번호를 입력하세요." name="contents" th:id="password" cols="30"
                      rows="10"></textarea>
            <textarea class="title" placeholder="제목을 입력하세요." name="contents" th:id="title" cols="30"
                      rows="10"></textarea>
            <textarea class="field" placeholder="내용을 입력하세요." name="contents" th:id="contents" cols="30"
                      rows="10"></textarea>
            <img src="/images/send.png" alt="" onclick="writePost()">
        </div>
    </div>
</body>
</html>